@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  @apply bg-slate-100;
}

.dark body {
  @apply bg-slate-900;
}

#root {
  min-height: 100svh;
  display: flex;
}
